# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Flask
instance/
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# info
rp-*.txt
rp-*.md

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
